.user-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 3%;
    padding: 0 3%;
}

.profile-avatar {
    background-color: #42b987;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    filter: brightness(80%)
}

.greeting {
    color: #9eacba;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}